.camera{
    width:200px;
    height:200px;
    perspective-origin:50% 0%;
    perspective:500px;
}
.space{
    position:relative;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
}
.space div{
    position:absolute;
}
.box1, .box2{
    transform-style:preserve-3d;
}

.box1 .face1{
    background-image: url(../../../assets/images/angular.png);
}
.box1 .face2{
    background-image: url(../../../assets/images/angularjs.png);
}
.box1 .face3{
    background-image: url(../../../assets/images/bootstrap.png);
}
.box1 .face4{
    background-image: url(../../../assets/images/css.png);
}
.box1 .face5{
    background-image: url(../../../assets/images/d3.png);
}
.box1 .face6{
    background-image: url(../../../assets/images/git.png);
}
.box2 .face1{
    background-image: url(../../../assets/images/html.png);
}
.box2 .face2{
    background-image: url(../../../assets/images/jquery.jpeg);
}
.box2 .face3{
    background-image: url(../../../assets/images/js.jpg);
}
.box2 .face4{
    background-image: url(../../../assets/images/json.png);
}
.box2 .face5{
    background-image: url(../../../assets/images/react.jpeg);
}
.box2 .face6{
    background-image: url(../../../assets/images/sass.png);
}

.box1 div,.box2 div{
  width:162px;
  height:154px;
  opacity:.9;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  background-size: 100% 100%;
}
.face2{  
    transform-origin:81px 85px 0;
        transform:rotateZ(0) rotateX(-116.56deg) translateY(-69px) translateY(-31px) translateZ(62px);
}
.face3{  
        transform-origin:81px 85px 0;
        transform:rotateZ(72deg) rotateX(-116.56deg) translateY(-69px) translateY(-31px) translateZ(62px);
}
.face3{  
        transform-origin:81px 85px 0;
        transform:rotateZ(72deg) rotateX(-116.56deg) translateY(-69px) translateY(-31px) translateZ(62px);
}
.face4{
        transform-origin:81px 85px 0;
        transform:rotateZ(144deg) rotateX(-116.56deg) translateY(-69px) translateY(-31px) translateZ(62px);
}
.face5{  
      transform-origin:81px 85px 0;
      transform:rotateZ(-144deg) rotateX(-116.56deg) translateY(-69px) translateY(-31px) translateZ(62px);
}
.face6{  
        transform-origin:81px 85px 0;
      transform:rotateZ(-72deg) rotateX(-116.56deg) translateY(-69px) translateY(-31px) translateZ(62px);
}
.box1{
    transform-origin:81px 85px 0;
    transform:rotateX(90deg) translateZ(-223px);
}
.box2{
    transform-origin:81px 85px 0;
    transform:rotateX(-90deg);
}
.space{
    position:relative;
    width:100%;
    height:100%;
    -webkit-transform-style:preserve-3d;
    -webkit-transform-origin:81px 170px 0;
    -webkit-animation:s 4s linear infinite;
}
@-webkit-keyframes s{
    0%{
        -webkit-transform:rotateZ(0) rotateY(0);
    }
    100%{
        -webkit-transform:rotateZ(360deg) rotateY(360deg);
    }
}

.camera:hover .face1{  
    transform: translateZ(-62px);
}
.camera:hover .face2{  
    transform:rotateZ(0) rotateX(-116.56deg) translateY(-69px) translateY(-31px) translateZ(124px);
}
.camera:hover .face3{  
    transform:rotateZ(72deg) rotateX(-116.56deg) translateY(-69px) translateY(-31px) translateZ(124px);
}
.camera:hover .face3{  
    transform:rotateZ(72deg) rotateX(-116.56deg) translateY(-69px) translateY(-31px) translateZ(124px);
}
.camera:hover .face4{
    transform:rotateZ(144deg) rotateX(-116.56deg) translateY(-69px) translateY(-31px) translateZ(124px);
}
.camera:hover .face5{  
    transform:rotateZ(-144deg) rotateX(-116.56deg) translateY(-69px) translateY(-31px) translateZ(124px);
}
.camera:hover .face6{  
    transform:rotateZ(-72deg) rotateX(-116.56deg) translateY(-69px) translateY(-31px) translateZ(124px);
}