<div class="homeWrapper">
  <div class="cover"></div>
  <div class="dpHolder">
    <img src="../../assets/dp.jpeg" alt="" height="200px" width="200px">
  </div>
  <div class="container-fluid">
    <h1>Gayathri Devi B R</h1>
    <h4>Senior Security Analysit (CEH Certified)</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In felis massa, rutrum rhoncus enim aliquet, pretium
      lacinia augue. Sed purus ex, semper eu velit sit amet, euismod faucibus metus. Proin eget risus quis nibh sagittis
      viverra. Praesent eget molestie risus, id tempus orci. Cras varius imperdiet porttitor. Aliquam ut ipsum sit amet
      velit laoreet tempus. Integer non fermentum mi, et volutpat erat. Phasellus ut risus sem. Donec at nibh sed sem
      condimentum auctor. Nam ornare suscipit lacinia. Nullam congue ex et lacinia pellentesque.</p>
  </div>
</div>
<app-projects></app-projects>
<app-skill></app-skill>
<app-aboutme></app-aboutme>
