.homeWrapper{
    overflow-x: hidden;
    .cover{
        background-image: url(../../assets/cover1.jpg);
        height: 20vh;
    }
    .dpHolder{
        width: 200px;
        float: right;
        margin-top: -50px;
        margin-right: 25px;
    }
}